*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  font-family: Rubik;
  background-color: var(--site-primaryBgColor);
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
}

.aside-menu {
  width: 140px;
  height: 100vh;
  border-right: 1px solid var(--site-secondaryBgColor);
  backdrop-filter: blur(10px);
  padding: 50px 0px 0px;
  position: fixed;
  background: radial-gradient(rgba(232, 232, 232, 0.3) 100%, rgba(232, 232, 232, 0.12) 100%);
  text-align: center;
}

.site-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 80px;
  padding: 0 80px 0 240px;
}

.site-content {
  flex: 1 1 auto;
  padding: 0 80px 150px 240px;
  display: flex;
  flex-direction: column;
}

.site-footer {
  flex: 0 1 60px;
  background-color: var(--site-secondaryBgColor);
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer .info-footer {
  color: #d1d1d1;
  font-size: 15px;
  line-height: 1.4;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0.015em;
}

[class*=_container] {
  margin: 0px auto;
  padding: 0 50px;
}

/* PC */
@media (max-width: 1087px) {
  [class*=_container] {
    max-width: 970px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*=_container] {
    max-width: none;
  }
}

.aside-menu:hover .menu-body ul {
  display: block;
  min-height: 293px;
}

.aside-menu:hover .menu-body .ul-menu-list {
  display: none;
}

.aside-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.aside-container .menu-body {
  min-height: 100px;
}

.aside-container .menu-body .ul-menu-list {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: var(--site-primaryTextColor);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin: 150px 0;
}

.aside-container .menu-body ul {
  list-style-type: none;
  padding: 0;
  display: none;
}

.aside-container .menu-body a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: var(--site-primaryTextColor);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin: 30px 0;
}

.aside-container .side-bar {
  display: flex;
  min-width: 80px;
  justify-content: space-between;
}

.aside-container .side-bar .fa-telegram {
  color: var(--site-primaryTextColor);
  text-decoration: none;
  font-size: 20px;
}

.aside-container .side-bar .fa-whatsapp {
  color: var(--site-primaryTextColor);
  text-decoration: none;
  font-size: 20px;
}

.aside-container .side-bar .fa-instagram {
  color: var(--site-primaryTextColor);
  text-decoration: none;
  font-size: 20px;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 0px;
}

.header-button {
  flex: 0 0 auto;
}

.header-button .button {
  display: inline-block;
  height: 40px;
  cursor: pointer;
  border: 1px solid;
  padding: 12px 30px;
  font-size: 14px;
  min-width: 152px;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2f2;
  border-color: #4f4f4f;
  background-color: #4f4f4f;
  transition: background-color 0.3s ease 0s;
}

.header-button .button:hover {
  background-color: #4f4f4f;
  filter: brightness(1.2);
}

@media (max-width: 1285px) {
  .site-content {
    flex: 1 1 auto;
    margin: 20px;
    padding: 0 80px 150px 220px;
  }
  .site-content .main-content {
    justify-content: center;
  }
  .site-content .main-content .left-side-info {
    flex: 0 1 auto;
  }
  .site-content .main-content .right-side-info {
    flex: 0 1 auto;
  }
  .site-content .benefits-content .right-side-benefits {
    flex: 0 1 auto;
  }
  .site-content .metall-content,
  .site-content .concrete-content,
  .site-content .lstc-content {
    justify-content: center;
  }
  .site-content .metall-content .left-side-metall,
  .site-content .metall-content .left-side-concrete,
  .site-content .metall-content .left-side-lstc,
  .site-content .metall-content .right-side-benefits,
  .site-content .concrete-content .left-side-metall,
  .site-content .concrete-content .left-side-concrete,
  .site-content .concrete-content .left-side-lstc,
  .site-content .concrete-content .right-side-benefits,
  .site-content .lstc-content .left-side-metall,
  .site-content .lstc-content .left-side-concrete,
  .site-content .lstc-content .left-side-lstc,
  .site-content .lstc-content .right-side-benefits {
    flex: 0 1 auto;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .aside-menu {
    flex: 0 0 80px;
    width: 100%;
    height: 80vh;
    border-right: none;
    backdrop-filter: none;
    position: static;
    background: var(--site-primaryBgColor);
    text-align: center;
    padding: 0px 20px 0px 20px;
  }
  .header {
    display: none;
    flex: 0 0 80px;
    padding: 0;
  }
  .site-content {
    flex: 1 1 auto;
    padding: 0;
    margin: 20px;
  }
  .site-content .main-content {
    justify-content: center;
  }
  .site-content .main-content .left-side-info {
    flex: 0 1 auto;
  }
  .site-content .metall-content,
  .site-content .concrete-content,
  .site-content .lstc-content {
    justify-content: center;
  }
  .aside-container {
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .aside-container img {
    height: 60px;
  }
  .aside-container .menu-body .ul-menu-list {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: var(--site-primaryTextColor);
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin: 30px 0;
  }
  .aside-container .menu-body ul {
    list-style-type: none;
    padding: 0;
    display: none;
    transition: 10s;
  }
  .aside-container .menu-body a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: var(--site-primaryTextColor);
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin: 30px 0;
  }
  .burger-menu {
    flex: 0 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .menu-body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--site-primaryBgColor);
    padding: 90px 15px 30px 15px;
    transition: left 0.3s ease 0s;
  }
  .aside-menu:target .menu-body {
    left: 0;
  }
  .aside-menu:target .menu-body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: var(--site-primaryBgColor);
    transition: left 0.3s ease 0s;
  }
  .menu_item {
    margin: 0 0 25px 0;
  }
  .menu_item:last-child {
    margin-bottom: 0;
  }
  .menu_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu_list a {
    color: var(--site-primaryTextColor);
    font-size: 20px;
  }
  .main-content .info-main-content h1 {
    text-transform: uppercase;
    color: var(--site-secondaryTextColor);
    font-size: 20px;
    font-style: normal;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: none;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: #000000;
    height: 2px;
  }
  .icon-menu span {
    height: 2px;
    background-color: #000000;
  }
  .close-icon-menu {
    flex: 0 0 30px;
    height: 30px;
    position: relative;
  }
  .close-icon-menu::before,
  .close-icon-menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #000000;
    height: 2px;
  }
  .close-icon-menu::before {
    transform: rotate(45deg);
  }
  .close-icon-menu::after {
    transform: rotate(-45deg);
  }
  .aside-menu:target .icon-menu {
    display: none;
  }
  .aside-menu:target .close-icon-menu {
    display: flex;
  }
  .close-icon-menu {
    display: none;
  }
}

@media (max-width: 520px) {
  .site-content .main-content .left-side-info h1 {
    font-size: 32px;
  }
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.main-content .left-side-info {
  flex: 0 1 50%;
  padding-top: 50px;
}

.main-content .right-side-info {
  flex: 0 1 50%;
  align-items: center;
  padding-top: 50px;
}

.main-content .info-main-content {
  display: flex;
  flex-direction: column;
}

.main-content .info-main-content h1 {
  text-transform: uppercase;
  color: var(--site-secondaryTextColor);
  font-size: 44px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.main-content .info-main-content p {
  color: var(--site-secondaryBgColor);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.015em;
}

.main-content .info-main-content img {
  padding: 30px 0px;
}

.main-content .points-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.main-content .points-info div {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content .points-info a {
  cursor: pointers;
  text-align: center;
  text-decoration: none;
  color: var(--site-primaryTextColor);
  font-size: 25px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
}

.info-item:not(:target, :last-child) {
  display: none;
}

.info-item:target ~ .info-item {
  display: none;
}

.metall-content {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0px;
}

.metall-content .left-side-metall {
  flex: 0 1 50%;
}

.metall-content .left-side-metall h1 {
  color: var(--site-primaryTextColor);
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 10px;
}

.metall-content .left-side-metall p {
  color: var(--site-secondaryBgColor);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.015em;
  margin-top: 50px;
}

.metall-content .left-side-metall .start {
  left: -80px;
  width: 350px;
  height: fit-content;
  display: flex;
  position: relative;
  margin: 60px 0;
}

.metall-content .left-side-metall .start h1 {
  margin-left: 20px;
  color: var(--site-secondaryBgColor);
  font-size: 28px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.metall-content .left-side-metall .start span {
  margin-left: -20px;
  width: 4.2vw;
  height: 1px;
  display: inline-block;
  min-width: 80px;
  margin-top: 35px;
  background-color: var(--site-secondaryBgColor);
}

.metall-content .right-side-metall {
  flex: 0 1 50%;
  /* General styles */
  /* Navigation item styles */
}

.metall-content .right-side-metall img {
  width: 100%;
}

.metall-content .right-side-metall .sim-slider {
  min-width: 500px;
  min-height: 600px;
  margin: 0px auto;
  padding: 60px 50px;
  border: 1px solid var(--site-primaryBgColor);
  background-color: var(--site-primaryBgColor);
}

.metall-content .right-side-metall .sim-slider {
  position: relative;
}

.metall-content .right-side-metall .sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.metall-content .right-side-metall .sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

.metall-content .right-side-metall div.sim-slider-arrow-left,
.metall-content .right-side-metall div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

.metall-content .right-side-metall div.sim-slider-arrow-left {
  left: 10px;
  top: 50%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

.metall-content .right-side-metall div.sim-slider-arrow-right {
  right: 10px;
  top: 50%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

.metall-content .right-side-metall div.sim-slider-arrow-left:hover {
  opacity: 1.0;
}

.metall-content .right-side-metall div.sim-slider-arrow-right:hover {
  opacity: 1.0;
}

.metall-content .right-side-metall div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
  margin-bottom: 0px;
}

.metall-content .right-side-metall span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}

.concrete-content {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0px;
}

.concrete-content .left-side-concrete {
  flex: 0 1 50%;
}

.concrete-content .left-side-concrete h1 {
  color: var(--site-primaryTextColor);
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 10px;
}

.concrete-content .left-side-concrete p {
  color: var(--site-secondaryBgColor);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.015em;
  margin-top: 50px;
}

.concrete-content .left-side-concrete .start {
  left: -80px;
  width: 350px;
  height: fit-content;
  display: flex;
  position: relative;
  margin: 60px 0;
}

.concrete-content .left-side-concrete .start h1 {
  margin-left: 20px;
  color: var(--site-secondaryBgColor);
  font-size: 28px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.concrete-content .left-side-concrete .start span {
  margin-left: -20px;
  width: 4.2vw;
  height: 1px;
  display: inline-block;
  min-width: 80px;
  margin-top: 35px;
  background-color: var(--site-secondaryBgColor);
}

.concrete-content .right-side-concrete {
  flex: 0 1 50%;
  /* General styles */
  /* Navigation item styles */
}

.concrete-content .right-side-concrete img {
  width: 100%;
}

.concrete-content .right-side-concrete .sim-slider1 {
  min-width: 500px;
  min-height: 600px;
  margin: 0px auto;
  padding: 60px 50px;
  border: 1px solid var(--site-primaryBgColor);
  background-color: var(--site-primaryBgColor);
}

.concrete-content .right-side-concrete .sim-slider1 {
  position: relative;
}

.concrete-content .right-side-concrete .sim-slider-list1 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.concrete-content .right-side-concrete .sim-slider-element1 {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

.concrete-content .right-side-concrete div.sim-slider-arrow-left1,
.concrete-content .right-side-concrete div.sim-slider-arrow-right1 {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

.concrete-content .right-side-concrete div.sim-slider-arrow-left1 {
  left: 10px;
  top: 50%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

.concrete-content .right-side-concrete div.sim-slider-arrow-right1 {
  right: 10px;
  top: 50%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

.concrete-content .right-side-concrete div.sim-slider-arrow-left1:hover {
  opacity: 1.0;
}

.concrete-content .right-side-concrete div.sim-slider-arrow-right1:hover {
  opacity: 1.0;
}

.concrete-content .right-side-concrete div.sim-slider-dots1 {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
  margin-bottom: 0px;
}

.concrete-content .right-side-concrete span.sim-dot1 {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}

.lstc-content {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0px;
}

.lstc-content .left-side-lstc {
  flex: 0 1 50%;
}

.lstc-content .left-side-lstc h1 {
  color: var(--site-primaryTextColor);
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 10px;
}

.lstc-content .left-side-lstc p {
  color: var(--site-secondaryBgColor);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.015em;
  margin-top: 50px;
}

.lstc-content .left-side-lstc .start {
  left: -80px;
  width: 350px;
  height: fit-content;
  display: flex;
  position: relative;
  margin: 60px 0;
}

.lstc-content .left-side-lstc .start h1 {
  margin-left: 20px;
  color: var(--site-secondaryBgColor);
  font-size: 28px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.lstc-content .left-side-lstc .start span {
  margin-left: -20px;
  width: 4.2vw;
  height: 1px;
  display: inline-block;
  min-width: 80px;
  margin-top: 35px;
  background-color: var(--site-secondaryBgColor);
}

.lstc-content .right-side-lstc {
  flex: 0 1 50%;
  /* General styles */
  /* Navigation item styles */
}

.lstc-content .right-side-lstc img {
  width: 100%;
}

.lstc-content .right-side-lstc .sim-slider2 {
  min-width: 500px;
  min-height: 600px;
  margin: 0px auto;
  padding: 60px 50px;
  border: 1px solid var(--site-primaryBgColor);
  background-color: var(--site-primaryBgColor);
}

.lstc-content .right-side-lstc .sim-slider2 {
  position: relative;
}

.lstc-content .right-side-lstc .sim-slider-list2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.lstc-content .right-side-lstc .sim-slider-element2 {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

.lstc-content .right-side-lstc div.sim-slider-arrow-left2,
.lstc-content .right-side-lstc div.sim-slider-arrow-right2 {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

.lstc-content .right-side-lstc div.sim-slider-arrow-left2 {
  left: 10px;
  top: 50%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

.lstc-content .right-side-lstc div.sim-slider-arrow-right2 {
  right: 10px;
  top: 50%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

.lstc-content .right-side-lstc div.sim-slider-arrow-left2:hover {
  opacity: 1.0;
}

.lstc-content .right-side-lstc div.sim-slider-arrow-right2:hover {
  opacity: 1.0;
}

.lstc-content .right-side-lstc div.sim-slider-dots2 {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
  margin-bottom: 0px;
}

.lstc-content .right-side-lstc span.sim-dot2 {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}

.benefits-content {
  display: flex;
  flex-wrap: wrap;
}

.benefits-content .left-side-benefits {
  flex: 0 1 50%;
}

.benefits-content .left-side-benefits .start-benefits {
  left: -80px;
  width: 350px;
  height: fit-content;
  display: flex;
  position: relative;
  margin: 60px 0;
}

.benefits-content .left-side-benefits .start-benefits h1 {
  margin-left: 20px;
  color: var(--site-secondaryBgColor);
  font-size: 28px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.benefits-content .left-side-benefits .start-benefits span {
  margin-left: -20px;
  width: 4.2vw;
  height: 1px;
  display: inline-block;
  min-width: 80px;
  margin-top: 25px;
  background-color: var(--site-secondaryBgColor);
}

.benefits-content .right-side-benefits {
  flex: 0 1 50%;
  display: flex;
  flex-wrap: wrap;
}

.benefits-content .right-side-benefits .main-cont-benefits {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.benefits-content .right-side-benefits .main-cont-benefits h1 {
  color: var(--site-primaryTextColor);
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 60px;
}

.benefits-content .right-side-benefits .main-cont-benefits p {
  color: var(--site-secondaryBgColor);
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.015em;
}

.benefits-content .right-side-benefits .main-cont-benefits img {
  margin-right: 24px;
}

.benefits-content .right-side-benefits .main-cont-benefits .second-cont-benefits {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.contacts-content {
  display: flex;
  flex-wrap: wrap;
}

.contacts-content .left-side-contacts {
  flex: 0 1 50%;
}

.contacts-content .left-side-contacts .start-contacts {
  left: -80px;
  width: 500px;
  height: fit-content;
  display: flex;
  position: relative;
  margin: 60px 0;
}

.contacts-content .left-side-contacts .start-contacts h1 {
  margin-left: 20px;
  color: var(--site-secondaryBgColor);
  font-size: 28px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.contacts-content .left-side-contacts .start-contacts span {
  margin-left: -20px;
  width: 4.2vw;
  height: 1px;
  display: inline-block;
  min-width: 80px;
  margin-top: 25px;
  background-color: var(--site-secondaryBgColor);
}

.contacts-content .left-side-contacts h2 {
  margin-top: 30px;
  font-weight: 400;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--site-primaryTextColor);
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  line-height: 1.4;
}

.contacts-content .left-side-contacts h3 {
  opacity: 0.6;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 40px;
  font-weight: 400;
  color: var(--site-secondaryBgColor);
  font-style: normal;
  font-family: Montserrat, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.contacts-content .left-side-contacts .contacts-info {
  display: flex;
  margin-top: 40px;
}

.contacts-content .left-side-contacts .contacts-info .m-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  color: var(--site-secondaryBgColor);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.015em;
}

.contacts-content .right-side-contacts {
  flex: 0 1 50%;
}

.contacts-content .right-side-contacts h1 {
  color: var(--site-secondaryBgColor);
  font-size: 28px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin: 60px 0;
}

.contacts-content .right-side-contacts .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-content .right-side-contacts .form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-content .right-side-contacts .form input,
.contacts-content .right-side-contacts .form textarea {
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.015em;
  color: var(--site-secondaryBgColor);
  background-color: var(--site-primaryBgColor);
}

.contacts-content .right-side-contacts .form input:active,
.contacts-content .right-side-contacts .form input:hover,
.contacts-content .right-side-contacts .form input:focus,
.contacts-content .right-side-contacts .form textarea:active,
.contacts-content .right-side-contacts .form textarea:hover,
.contacts-content .right-side-contacts .form textarea:focus {
  outline: 0;
  outline-offset: 0;
}

.contacts-content .right-side-contacts #button-send {
  height: 40px;
  cursor: pointer;
  border: 1px solid;
  padding: 12px 30px;
  font-size: 14px;
  max-width: 152px;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2f2;
  border-color: #4f4f4f;
  background-color: #4f4f4f;
  transition: background-color 0.3s ease 0s;
}

.contacts-content .right-side-contacts #button-send:hover {
  background-color: #4f4f4f;
  filter: brightness(1.2);
}

@media screen and (prefers-color-scheme: light), screen and (prefers-color-scheme: no-preference) {
  :root {
    --site-primaryBgColor: #d0d0d0;
    --site-secondaryBgColor: #4F4F4F;
    --site-primaryTextColor: #333333;
    --site-secondaryTextColor: white;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --site-primaryBgColor: #333333;
    --site-secondaryBgColor: #4F4F4F;
    --site-primaryTextColor: #d0d0d0;
    --site-secondaryTextColor: white;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */